.header-container {
  z-index: 1;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.header-container a {
  text-decoration: none;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  display: flex;
  justify-content: center;
  flex-flow: column;
  font-weight: bold;
}
