.company-icon,
.progress-tracker {
  width: 50px;
}

.company-icon > figure > img {
  object-fit: fill!important;
}

.company-box {
  width: calc(100% - 50px);
}

.container {
  position: relative;
  margin: auto;
  background-color: white;
  padding: 1rem;
  max-width: 420px;
  box-shadow: rgb(149 157 165 / 10%) 0px 8px 24px;
  margin-top: 1rem;
}

.job-piece {
  margin-top: 1rem;
}

.skill-icon {
  margin-top: 1rem;
  margin-right: -0.5rem;
  cursor: pointer;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

.skill-set:hover .skill-icon {
  margin-right: 0.5rem;
}
