.poem {
  padding: 1rem;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 100;
  font-family: 'EB Garamond', Georgia, serif;
  width: 350px;
  text-align: left;
}

.poem-container {
  text-align: center;
}

.poem-listing {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.poet {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}

.toggle-translation {
  text-align: right;
  font-size: 15px;
  cursor: pointer;
}

.title {
  font-weight: bold;
}
