.poem {
  padding: 1rem;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 100;
  font-family: Georgia, serif;
}

.poem-container {
  text-align: center;
}

.title {
  font-weight: bold;
}
